<%- partial('./partial/sidemenu.ejs') %>

<% if (req.session.role == 'admin') {%>

<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">審批<span class="highlight">列表</span></h5>
  <div class="container-fluid">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">教練編號</th>
          <th scope="col">類別</th>
          <th scope="col">中文名</th>
          <th scope="col">狀態</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
       
          


        <% coach.forEach(function(model) { %>
        <% if (model.ChiName != ""){ %>
        <tr>
          <th scope="row"></th>
          <td>INDC<%=model.CoachNo%></td>
          <td><%= model.New_coach %></td>
          <td><a href="/coach/update_coach/<%=model.id%>"> <%= model.ChiName %> </a></td>
          <% if (model.comfirm_coach != "是" ){ %>
            <td>待審批</td>
            <%}%>

            <% if (model.comfirm_coach == "是" ){ %>
              <td>已審批</td>
              <%}%>

         <% if (model.comfirm_coach == "是" ){ %>

          <td><button type="button" class="btn btn-primary" >已審批</button></td>
          <%}%>

          <% if (model.comfirm_coach != "是" ){ %>

            <td><button type="button" class="btn btn-danger" onclick="confirmCoach('<%= model.id%>')">審批</button></td>
            <%}%>
        </tr>

        <%}%>
            <% }); %>

      </tbody>
    </table>
    <td><button type="submit" class="btn btn-primary" action="/coach/export_xlsx">Export</button></td>

    <% } %>

    <% if (req.session.role == 'coach') {%>
      
    <section class="content aboutus flex-lg-grow-1">
      <h5 class="main-heading1">審批<span class="highlight">列表</span></h5>
      <div class="container-fluid">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">教練編號</th>
              <th scope="col">類別</th>
              <th scope="col">中文名</th>
              <th scope="col">狀態</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
           

            <% coach.forEach(function(model) { %>
            <% if (model.ChiName != "" && model.ChiName==req.session.ChiName){ %>
            <tr>
              <th scope="row"></th>
              <td>INDC<%=model.CoachNo%></td>
              <td><%= model.New_coach %></td>
              <td><%= model.ChiName %> </a></td>
              
              <% if (model.comfirm_coach != "是" ){ %>
              <td>待審批</td>
              <%}%>

              <% if (model.comfirm_coach == "是" ){ %>
                <td>已審批</td>
                <%}%>

              <
            </tr>

            <%}%>
            
                  <% }); %>

          </tbody>
        </table>
        
        <% } %>
        <script>

          async function confirmCoach(id) {

            var r = confirm("Confirm Coach?");

            if (r) {

              var response = await fetch("/coach/confirm_coach/" + id, {
                method: "POST",
                credentials: 'same-origin',
              });

              if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
              } else {
                alert(response.status + ": " + response.statusText);
              }

            } else {
              alert("cancelled");
            }

          };

          var table = document.getElementsByTagName('table')[0],
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

          for (var i = 0, len = rows.length; i < len; i++) {
            rows[i + 1].children[0][text] = (i + 1) + '.    ' + rows[i + 1].children[0][text];
          }
        </script>
      </div>
    </section>