<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
        <h5 class="main-heading1">教練<span class="highlight">資料</span></h5>
      <div class="container-fluid">
      
            <div class="card col">
                    <div class="row">
                            <div class="col-lg-4">
                                <div class="profile-img-center">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                </div>
                            </div>
    <div class="col-12">
            <ul class="list-group">

                <li class="list-group-item">
                    <span class="font-weight-bold">1. 教練註冊級別:</span>
                    <%=coach.Level %>
                </li>


                <li class="list-group-item">
                    <span class="font-weight-bold">2. 體操項目：</span>
                    <%= coach.Disciplines1 %> 
                    <%= coach.Disciplines2 %> 
                    <%= coach.Disciplines3 %> 
                    <%= coach.Disciplines4 %> 
                    <%= coach.Disciplines5 %> 
                    <%= coach.Disciplines6 %> 
                </li>

                <li class="list-group-item">
                        <span class="font-weight-bold"><b>3. 個人資料：</b></span><br>
                    <span class="font-weight-bold">姓名 (英文):</span>
                    <%= coach.Engname %>
                </li>


                <li class="list-group-item">
                    <span class="font-weight-bold">姓名 (中文): </span>
                    <%= coach.ChiName %>
                </li>
               

                <li class="list-group-item">
                    <span class="font-weight-bold">4. 體操教學經驗: </span>
                    <%= coach.HaveBeenCoach%>

                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">如有，請列明課程及任教年份：</span>
                    <%= coach.Have %>

                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold"> 其他有關體操教學經驗，請列明：</span>
                    <%=coach.Have2 %>

                </li>

                <li class="list-group-item">
                    <span class="font-weight-bold">6. 教練資歷: </span><br>
                    <span class="font-weight-bold">本會發出之體操教練證書</span>
                
                    <%= coach.Qualification%> <br>
                
                    <label style="font-size:16px">證書編號</label>
                    <%= coach.Cert_no%> <br>
                    <label style="font-size:16px"> 考取年份
                    </label>
                    <%= coach.date_Qualification%>
                    <br>

                    <label style="font-size:16px"> 香港教練培訓委員會發出之證書
                    </label>
                    <%= coach.Qualification1%> <br>
                    <label style="font-size:16px"> 認可教練號碼
                    </label>
                    <%= coach.Accredited_coachNo%> <br>

                    <label style="font-size:16px"> 有效日期
                    </label>
                    <%=coach.date_Qualification1%> <br>

                    <label style="font-size:16px"> 本會發出之教練理論課程證書</label>
                    <label style="font-size:16px"> 證書編號
                    </label>

                    <%= coach.Cert_no2%> <br>

                    <label style="font-size:16px"> 有效日期

                    </label>

                    <%= coach.date_Qualification2%> <br>

                    
                </li>
                
            </ul></div>
</div>
